{
    "height": 30,
    "spacing": 4,
    "modules-left": ["sway/workspaces"],
    "modules-center": ["sway/window"],
{{- if .is_laptop }}
    "modules-right": ["custom/proxy", "pulseaudio", "network", "backlight", "sway/language", "battery", "clock", "tray"],
{{- else }}
    "modules-right": ["custom/proxy", "pulseaudio", "network", "sway/language", "clock", "tray"],
{{- end }}
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "tray": {
        "spacing": 10
    },
    "clock": {
        "format": "{:%H:%M  %a %d.%m}",
        "format-alt": "{:%Y-%m-%d %H:%M:%S}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "backlight": {
        "format": "{percent}% {icon}",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% 󰂄",
        "format-plugged": "{capacity}% 󰚥",
        "format-full": "{capacity}% 󰁹",
        "format-alt": "{time} {icon}",
        "format-icons": ["󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"]
    },
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "tooltip-format": "{ifname} via {gwaddr} ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-bluetooth-muted": " {icon}",
        "format-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/proxy": {
        "exec": "~/.config/waybar/scripts/proxy_status.sh",
        "return-type": "json",
        "interval": "once",
        "signal": 9,
        "format": "{}",
        "tooltip": true
    }
}
